/* Color de fondo y fuente */

body {
	background: #F5F5F5;
	font-family: 'Calibri';
	color: #5b5b5b !important;
}

.nav-link {
	color: #5B5B5B !important;
	font-weight: bold;
	font-size: 16px;
}

#region-main {
	background: #F5F5F5;
}

.panel {
	background: #FFF;
}

.secondary-navigation>.moremenu>ul.more-nav {
	background: #f5f5f5;
}

.secondary-navigation .navigation {
	background: #f5f5f5 !important;
}


/* Sombra paneles y fondo */

.coursebox,
.course-section,
.card {
	background: transparent;
	border: 1px solid transparent !important;
}

.course-section .section-item {
	border: 1px solid transparent !important;
	padding: 0 !important;
}

.card {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
	background-color: #fff !important;
}

.main-inner {
	background: #F5F5F5 !important;
	padding: 0 !important;
}


/* Sobra navbar */
.navbar.fixed-top {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

/* Botones navbar */

.nav-link:focus {
	box-shadow: none !important;
}


/* Ajustes botones */

.btn-primary {
	background-color: #1272a7 !important;
	border-radius: 4px !important;
	font-family: 'Lato', 'Open Sans', Helvetica, sans-serif !important;
}

.btn,
.btn-secondary {
	border-radius: 4px !important;
	font-family: 'Lato', 'Open Sans', Helvetica, sans-serif !important;
}

.btn:hover {
	border: 1px solid transparent;
}

.btn-primary:hover,
.btn:hover,
.btn-primary:active,
.btn:active,
.btn-primary:focus,
.btn:focus {
	background: #CACACA !important;
	color: #333;
}

.btn-secondary:not(:disabled):not(.disabled):hover,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled):focus {
	background: #CACACA;
	color: #333;
	border: 1px solid transparent;
}

.btn-link:hover {
	text-decoration: none;
}

.btn:focus,
.btn-primary:focus,
.btn-secondary:focus {
	box-shadow: none !important;
}


/* Bottones mis cursos */

#page-my-index .my-action-buttons {
	margin-bottom: 10px;
}

/* Botones settings */

.settingsform>ul>li>.nav-link {
	background: #f5f5f5 !important;
}

.settingsform>ul>li>.nav-link:active,
.settingsform>ul>li>.nav-link:focus {
	border-bottom-color: #0f6cbf !important;
	border-bottom: solid 3px transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	border-bottom-color: #0f6cbf !important;
	border-bottom: solid 3px transparent;
}


/* Ajustes de border-radius */

div,
#page.drawers .main-inner,
.activity-item,
.sitetopic .section-item,
.card,
.rounded,
.custom-select,
.list-group,
input {
	border-radius: 4px !important;
}

#frontpage-available-course-list .coursebox,
#frontpage-course-list .coursebox,
.course-search-result .coursebox {
	border-radius: 2px;
}


/* Ajustes del logo */

.logo,
me-1 {
	height: 50px;
	position: relative;
	float: left;
	max-height: 55px !important;
}

.navbar-brand:focus {
	box-shadow: none !important;
}


/* Mover logo izquierda */

.navbar {
	padding: 0.5rem 0 0 0;
}


/* Ajustar tamaño nav */

.navbar {
	height: 51px !important;
}


/* Ajustar tamaño botones activos nav */

.primary-navigation .navigation .nav-link {
	height: 55px !important;
}


/* Dropdown usuario */

#user-menu-toggle {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
	animation: deGrow forwards 0.2s;
}

#user-menu-toggle:hover {
	animation: miniGrow forwards 0.2s;
}


/* Evitar colapso de navbar */

.navbar-collapse.collapse {
	display: block !important;
}

.navbar-nav>li,
.navbar-nav {
	float: left !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px !important;
}

.navbar-right {
	float: right !important;
}


/* Ocultar boton mensajes */

a.popover-region-toggle:has(> i.fa-message) {
	display: none;
	visibility: hidden;
	pointer-events: none !important;
}

.popover-region {
	margin-right: -15px;
}


/* Ocultar boton cajon de bloques */

.drawer-right-toggle {
	visibility: hidden;
}


/* Ocultar boton flotante ayuda */

footer.footer-popover>div>button.btn.btn-icon {
	visibility: hidden;
}


/* Pagina principal */

#page-header>.w-100 {
	text-align: center;
}

#page-header .page-header-headings {
	text-align: center;
	width: 100%;
}

#page-header .me-auto {
	flex: 1;
}

.align-items-center:has(> .me-auto) {
	display: inline-block !important;
	text-transform: uppercase;
}

.activity {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}


/* Hover sobre curso mostrar descripcion */

.courseimage {
	position: relative;
	overflow: hidden;
}

.courseimage img {
	transition: opacity 0.3s ease;
}

.courseimage.has-summary:hover img {
	opacity: 0.5;
	/* Atenúa la imagen */
}

.courseimage .hidden-summary {
	position: absolute;
	top: 40%;
	left: 48.7%;
	transform: translate(-50%, -50%);
	color: #fff;
	background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
	padding: 10px !important;
	border-radius: 5px;
	text-align: center;
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none; /* Evita que interfiera con el hover */
	width: 80%;
	height: 60%;
}

.courseimage.has-summary:hover .hidden-summary {
	opacity: 1; /* Muestra el texto al hacer hover */
	pointer-events: auto;
	overflow: auto;
	margin: 16.5px 5px 5px;
}


/* Resize caja cursos */

.coursebox {
	width: 370px;
	height: 310px;
	display: inline-flex;
	margin: 10px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.coursebox>.info {
	text-align: center;
	display: inline;
}

.coursebox>.content>.d-flex {
	display: inline !important;
}


/* Panel cursos */
#frontpage-available-course-list {
	margin-top: 30px;
}


/* Titulo cursos */

.coursebox>.info>.coursename {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}


/* Imagen cursos */

.coursebox .content .courseimage>a>img {
	max-height: 185px !important;
	min-height: 185px !important;
	max-width: 300px !important;
	min-width: 300px !important;
	object-fit: cover;
	border-radius: 4px;
}

.courseimage {
	text-align: center;
	height: 190px;
	margin: 15px 5px 18px !important;
	animation: deGrow 0.3s forwards;
}

.courseimage:hover {
	animation: medGrow 0.3s forwards;
	cursor: pointer;
}

.courseimage>a:focus {
	box-shadow: none !important;
	background-color: transparent !important;
}


/* Profesor cursos */

.flex-grow-1 {
	display: inline;
	align-items: center;
	text-align: center;
}


/* Ajustes sidebar indice del curso */

.drawer-left {
	height: 70%;
	background: #F5F5F5;
}


/* Indice de cursos mas legible */

.text-truncate {
	white-space: normal;
}


/* Crear o Config Curso */
.btn.btn-icon.icons-collapse-expand {
	color: #5b5b5b;
	background: #f5f5f5;
}

.btn.btn-icon.icons-collapse-expand:hover {
	color: #f5f5f5;
	outline: none !important;
	background: #0174c5 !important;
	opacity: 0.7;
}

.btn.btn-icon.icons-collapse-expand:focus {
	background: transparent !important;
	color: #0174C5;
	animation: grow 0.3s forwards;
	box-shadow: none !important;
}

.custom-select,
.dropdown {
	border-radius: 4px !important;
}


/* Seccion Mis Cursos */
.no-gutters,
.g-0 {
	margin: 10px auto;
}

.course-card {
	padding: 10px;
	overflow: hidden;
	max-height: 270px;
}

.course-card>a {
	animation: deGrow 0.3s forwards;
	transition: transform 0.3s ease, margin-bottom 0.3s ease;
}

.course-card>a:hover {
	animation: grow 0.3s forwards;
	margin-bottom: 20px;
}

.course-card>a:focus {
	box-shadow: none !important;
}

.coursename {
	text-transform: uppercase;
	font-size: 17px;
}

.text-muted {
	margin-top: 20px;
	display: grid !important;
}

.card-footer:last-child {
	padding: 0 !important;
}

.card-footer .dropdown .dropdown-menu {
	z-index: 1050 !important;
	top: -180% !important;
	left: -470% !important;
	right: 19%;
	transform: none !important;
}

.card-footer {
	position: relative;
}

.card-footer .dropdown button {
	animation: deGrow 0.2s forwards;
	transition: transform 0.2s ease;
	color: #5b5b5b !important;
}

.card-footer .dropdown button:hover {
	box-shadow: none !important;
	background: transparent !important;
	animation: grow 0.2s forwards;
}

.card-footer .dropdown button:focus {
	box-shadow: none !important;
	background: transparent !important;
}

.card-footer .dropdown button:active {
	background: transparent !important;
}

.drawers .block_myoverview>.card-body {
	text-align: center;
	padding-top: 20px !important;
	background-color: #f5f5f5 !important;
	box-shadow: none !important;
}

.card-grid .card {
	background: #fff !important;
	overflow: hidden;
}

#inst5 {
	background: #f5f5f5 !important;
	box-shadow: none !important;
}


/* Vista lista Mis Cursos */

.dropdown:not(.card-footer .dropdown)>.coursemenubtn {
	margin: 25px 20px 20px;
}

.coursemenubtn:hover,
.coursemenubtn:focus,
.coursemenubtn:active {
	background: transparent !important;
	box-shadow: none !important;
}

.course-listitem {
	margin: 0 50px 10px;
	padding: 17px 30px 17px 20px !important;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.summary:not(.courseimage .summary) {
	max-height: 90px;
	overflow: hidden;
}

/* Badge "Ocultado a estudiantes" */
/* Vista lista */
[id^="page-container-"]>div>ul>li>div>div.col-md-9.d-flex.flex-column>div>span.badge {
	margin-left: 80%;
}

/* Vista resumen */
[id^="page-container-"]>div>div>div>div>div.col-md-9.d-flex.flex-column>div.d-flex.flex-wrap>span.badge {
	margin-left: 80%;
	position: relative;
	top: -41px;
}

/* Vista tarjeta */
.course-info-container>div>div>div:nth-child(3)>span {
	margin-left: 18%;
	margin-top: 4%;
}


/* Vista lista Mis Cursos dropdown */

#groupingdropdown,
#displaydropdown,
#sortingdropdown {
	box-shadow: none !important;
}


/* Area Personal */

.bottom {
	text-align: center !important;
	font-size: 18px;
	font-family: 'Calibri';
	margin: 57px auto !important;
	margin-top: 10px !important;
	background: #F5F5F5;
	padding: 0 0 8px 0;
	width: 50% !important;
	border-top: none !important;
}

#calendar-course-filter-1:focus {
	box-shadow: none !important;
}


/* Footer area personal */

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0 75px 0 75px;
	font-family: 'Lato', 'Open Sans', Helvetica, sans-serif !important;
	font-size: 88%;
	color: #5b5b5b;
	opacity: 0.8;
	background: #F5F5F5;
}


/* Estilos calendario completo */

.maincalendar .calendarmonth {
	background-color: #fff;
	border: 1px solid transparent;
}

.calendartable {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}


/* Dropdown calendario */

.btn-outline-secondary {
	background-color: #fff;
	border: 1px solid #8f959e;
	border-radius: 4px !important;
}

.btn-outline-secondary:active,
.btn-outline-secondary:focus,
.btn-outline-secondary:hover {
	background-color: #fff !important;
	color: #6a737b !important;
	border: 1px solid #8f959e;
}

select.custom-select {
	cursor: pointer;
}


/* Administracion del sitio */
.simplesearchform {
	display: inline !important;
}


/* Footer */

.footer2 {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0 75px 0 75px;
	font-family: 'Lato', 'Open Sans', Helvetica, sans-serif !important;
	font-size: 88%;
	color: #5b5b5b;
	opacity: 0.8;
	background: #F5F5F5;
	z-index: 2;
}

.copyright {
	z-index: 3;
	padding: 20px 0 0 0;
	border-top: 1px solid rgba(12, 12, 12, 0.07);
	font-size: 14px;
	margin-left: 8px;
}


/* Modales */
.modal-content {
	background: #f5f5f5;
}


/* Animaciones */

@keyframes grow {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.2);
	}
}

@keyframes medGrow {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.1);
	}
}

@keyframes miniGrow {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.05);
	}
}

@keyframes deGrow {
	from {
		transform: scale(1.05);
	}

	to {
		transform: scale(1);
	}
}